<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  {{ partial "head" . }}
</head>

<body id="fullsingle" class="page-template-page-fullsingle-split">

  <div class="fs-split">

    <!-- Image -->
    {{ if .Site.Params.visual.image.enable }}
    
      <div class="split-image">

      </div>

{{if gt (len .Site.Params.visual.image.files) 1}}
<script>
var img = {{ apply .Site.Params.visual.image.files "absURL" "." }};
var next = 1;
function rollImage(i) {
    var n = img[next];  // Select next image
    $('.fs-split .split-image').animate({'opacity': 0.01}, 500, function() {$(this).css('background-image', 'url("' + n + '")').animate({'opacity': 1}, 500);});
    next ++;
    next %= img.length; // Preload next image
    $('.split-image').html('<img src="' + img[next] + '" style="display: none;">');
    setTimeout(rollImage, {{ if .Site.Params.visual.image.timer }}{{ .Site.Params.visual.image.timer }}{{ else }}10000{{ end }} );
}
$('.split-image').html('<img src="' + img[next] + '" style="display: none;">');
setTimeout(rollImage, {{ if .Site.Params.visual.image.timer }}{{ .Site.Params.visual.image.timer }}{{ else }}10000{{ end }} );
</script>
{{end}}

    <!-- Video -->
    {{ else if .Site.Params.visual.video.enable }}

      {{ partial "video" . }}

    {{ end }}

    <!-- Content Side -->
    <div class="split-content">
      <div class="split-content-vertically-center">

        <!-- Intro -->
        {{ partial "intro" . }}

        <!-- Bio -->
        {{ partial "bio" . }}

        <!-- Links -->
        {{ partial "links" . }}

        <!-- Footer -->
        {{ partial "footer" . }}

      </div>
    </div>

  </div>

</body>
</html>
